p {
  color: white;
}
h1 {
color: white;
}
html {
  background-color: #F8F8FF
}
body {
  width: 40%;
  margin: 0;
  background-color: #B22222;
  padding: 0 20px 500px 20px;
  border: 1px solid black;
}
}
body {
  width: 40%;
  margin: 0;
  background-color: #B22222;
  padding: 0 20px 500px 20px;
  border: 1px solid black;
}



